@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


        * {

            padding: 0;
            font-family: 'Poppins';
        }

        body {
            background-color: #000;
        }

        .container {
            width: 60%;
            height: 430vh;
            background-color: #fff;
            margin: auto;
        }

        .nav {
            width: 100%;
            height: 60px;
        }

        .nav img {
            width: 30px;
            height: 30px;
            position: relative;
            left: 60px;
            top: 15px
        }

        .nav ul {
            list-style-type: none;
            display: flex;
            text-align: center;
            justify-content: center;
            margin-top: -15px;
            margin-left: 100px;
        }

        .nav ul li {
            margin-right: 15px;
        }

        .nav ul li a {
            text-decoration: none;
            color: black;
            font-size: 15px;
            font-weight: 500;
        }

        .nav ul li a:hover {
            background-color: rgb(255, 0, 55,0.7);
            text-decoration: underline;
            transition: 0.2s linear;
            color: #fff;
        }

        .nav button {
            position: relative;
            left: 720px;
            bottom: 48px;
            background-color: #fff;
            padding: 8px;
            width: 80px;
            font-weight: 500;
        }

        .nav button:hover {
            background-color: rgb(255, 0, 55);
            color: #fff;
            border: none;
        }

        .second {
            width: 100%;
            height: 400px;
            background: url('CSS Assignment 05/images/bg-image-30.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
        }

        .second img {
            width: 100%;
            height: 400px;
        }

        .second h1 {
            text-align: center;
            font-size: 40px;
            font-weight: 800;
            color: #fff;
            position: absolute;
            right: 100px;
            top: 100px;
        }

        .second p {
            position: absolute;
            font-size: 12px;
            color: rgb(223, 222, 222);
            right: 100px;
            top: 170px;
            width: 350px;
            text-align: end;
        }

        .second button {
            position: absolute;
            right: 100px;
            bottom: 130px;
            width: 150px;
            height: 40px;
            background-color: rgb(255, 0, 55);
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            border: none;
            outline: none;
            border-radius: 5px;
        }

        .second button:hover {
            background-color: white;
            color: rgb(255, 0, 55);
            cursor: pointer;
            transition: .3s linear;
        }

        .second .bi {
            position: absolute;
            left: 20px;
            top: 30px;
            opacity: 0.2;
        }
        .second .bi:hover{
            opacity: 1;
            transition: 0.5s linear;
        }
        .third {
            width: 100%;
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .third h4 {
            text-align: center;
            margin-bottom: 8px;
        }

        .third p {
            text-align: center;
            font-size: 14px;
            width: 240px;
        }

        .third img {
            width: 30px;
            height: 30px;
        }

        .box1 img {
            position: relative;
            margin-bottom: 4px;
            left: 100px;
        }

        .box2 img {
            position: relative;
            margin-bottom: 4px;
            left: 100px;
        }

        .box3 img {
            position: relative;
            margin-bottom: 4px;
            left: 100px;
        }
        .box1,.box2,.box3{
            position: relative;
            top:-30px;
        }
        .fourth {
            width: 100%;
            height: 350px;
            background-color: #f0efef;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 10px
        }

        .area1 {
            position: relative;
        }

        .area1 p {
            position: relative;
            top: -60px;
        }

        .fourth p {
            font-size: 12px;
            width: 200px;
        }

        .area1 p:first-child {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 0px;
            position: absolute;
            top: -150px;
            text-align: end;
        }
        .area1 .p{
             position: relative;
             left:30px;
        }
        .line {
            font-weight: 600;
        }

        .fourth span {
            text-decoration: 2px underline red;
        }

        .fourth img {
            width: 170px;
            height: 140px;
        }

        .fifth {
            width: 100%;
            height: 230px;
            background: url('CSS Assignment 05/images/bg-image-17.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;

        }

        .fifth::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .text-overlay {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            z-index: 1;
            text-align: center;
            gap: 20px;
        }
        .text-overlay p{
            position: relative;
            top: -15px;
            font-weight: 500;
            font-size: 12px;
            width: 220px;
        }
        .sixth{
         width: 100%;
         height: 450px;
        }
        .sixth .upper,.eight .upper{
            width: 100%;
            height: 100px;
            text-align: -webkit-center;
        }
        .sixth .upper p,.eight .upper p{
            position: relative;
            top:-16px;
            font-size: 12px;
            width: 411px;
        }
        .sixth .lower{
            width: 100%;
            height: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap:15px;
            position: relative;
            bottom: 28px;
        }
        .img1,.img2,.img3,.img4{
            margin-top: 0px;
            width:170px;
            height: 280px;
            position: relative;
        }
        .sixth .lower img{
            width: 170px;
            height: 220px;
        }
        .sixth .lower .logo{
            width: 16px;
            height: 16px;
            position: relative;
            bottom: 10px;
            margin-right: 3px;
            left:-3px
        }
        .sixth .lower h5{
            position: absolute;
            bottom: 15px;
            margin-bottom: 22px;
        }
        .sixth .lower p{
            margin-top: 18px;
            font-size: 14px;
        }
        .seventh{
            width: 100%;
            height: 550px;
            background-color: #f3f3f3;
        }
        .seventh img{
            width: 360px;
            height: 400px;
            float: right;
            margin-top: 80px;
            margin-right: 30px;
        }
        .seventh .content{
            margin-left: 60px;
            width:60%;
            height: 400px;     
            text-align: justify;   
        }
        .seventh .content h1{
            position: relative;
            top:60px
        }
        .seventh .content p{
            position: relative;
            top:40px;
            font-size: 12px;
            margin-right: 500px;
            width: 400px;
        }
        .seventh .content ul{
            list-style-type: none;
        }
        .seventh .content ul li:before{
            content: '✓';
            color: red;
            margin-right: 4px;
        }
        .seventh .content li{
            position: relative;
            top:40px;
            font-size: 12px;
            margin-right: 500px;
            width: 400px;
            margin-bottom: 4px;
        }
        .seventh .content h4{
            position: relative;
            top:50px
        }
        .seventh .circle img{
            width: 50px;
            height: 50px;
            position: relative;
            left:240px;
            top:170px;
        }
        .eight{
             width: 100%;
             height: 500px;
        }
        .eight .lower{
            width: 100%;
            height:350px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap:20px;
            margin-top: 50px;
        }
        .eight .lower .box1,.eight .lower .box2,.eight .lower .box3{
            width: 250px;
            height:350px;
            border: 3px solid rgb(255, 0, 55);
        }
        .eight .lower  .center{
            text-align: center;
        }
        .eight ul{
            list-style-type: none;
        }
        .eight .box2 ul li:before{
            content: '✓';
            color: #fff;
            margin-right: 6px;
        }
        .eight ul li:before{
            content: '✓';
            color: red;
            margin-right: 6px;
        }
        .eight .lower .left{
            font-weight: 500;
            font-size: 12px;
            margin-left: 35px;
            margin-top: 5px;
        }
        .white{
            color: #fff;
        }
        .eight .lower button{
            width: 150px;
            padding: 3px;
            background-color: #fff;
            border:3px solid rgb(255, 0, 55);
            margin-left: 50px;
            margin-top: 15px;
            color:rgb(255, 0, 55);
            border-radius: 5px;
        }
        .eight .lower button:hover{
            cursor: pointer;
            background-color: rgb(255, 0, 55);
            color: #fff;
        }
        .nine{
            width: 100%;
            height: 200px;
            background-color: rgb(255, 0, 55);
            text-align: center;
            color: #fff;
        }
        .nine p{
            position: relative;
            top:50px;
            font-size: 12px;
            word-spacing: 2px;
        }
        .nine h1{
            font-size: 35px;
            margin-top: 40px;
        }
        .nine button{
             width:150px;
             padding: 3px;
             background-color: rgb(255, 0, 55);
             border: 2px solid #fff;
             border-radius: 3px;
             color: #fff;
        }
        .nine button:hover{
            background-color:#fff;
            color:rgb(255, 0, 55)
        }
        .ten{
            background-color: #181414;
            width: 100%;
            height: 70px;
        }
        .ten img{
            margin-top: 15px;
            width: 150px;
            height: 50px;
            margin-left: 30px;
        }
        .ten .imgs{
            position: relative;
            left:200px;
            margin-left: 5px;
            width: 40px;
            height: 40px;
            top:-8px;
        }
        .ten span{
            font-size: 10px;
            color: #fff;
            position: relative;
            left:270px;
            bottom: 20px;
        }
        
